<form id="email-form" name="email-form" data-name="Email Form">
  <div class="row w-row">
    <div class="column w-col w-col-6">
      <h1 class="message">
        Please pickup your parcel(s).<br />Close slot to continue.
      </h1>
      <app-logo></app-logo>
    </div>
    <div class="column-2 w-col w-col-6">
      <img src="../../../../assets/images/new_pickup_animation.gif" />
    </div>
  </div>
  <a (click)="finishPickup()" class="button back-btn w-button"
    ><span class="material-icons">done</span>CONTINUE</a
  >
</form>
