<form id="email-form" name="email-form" data-name="Email Form">
  <div class="row w-row">
    <div class="column w-col w-col-6">
      <h1 class="message">Having some trouble?</h1>
      <app-logo></app-logo>
    </div>
    <div class="column-2 top-adj w-col w-col-6">
      <a routerLink="../slots" class="button w-button"
        ><span class="material-icons">warning</span><br />PACKAGE DOESN&#x27;T
        FIT</a
      ><a routerLink="../single" class="button w-button">
        <!--SHOUD GO BACK TO PREVIOUS SCREEN-->
        <span class="material-icons">timer</span><br />I NEED MORE TIME</a
      >
      <!--GO HOME-->
      <a routerLink="" class="button cancel w-button"
        ><span class="material-icons">delete</span><br />CANCEL DROPOFF</a
      >
    </div>
  </div>
</form>
